
p {
    font-family: 'Roboto Slab', serif;
    color: $p;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.28;
}


h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: $psecondary;
}
