/*  ---- COLORS ---- */


/*  ---- BACKGROUNDS ---- */

$background: rgba(250, 250, 250, 1.0);
$background-card: rgba(255, 255, 255, 1.0);
$border-card: rgba(0, 0, 0, 0.09);


/*  ---- BRAND ---- */

$brand: rgba(86, 143, 187, 1.0);


/*  ---- FONTS ---- */

$p: rgba(51, 51, 51, 1.0);
$psecondary: rgba(140, 140, 140, 1.0);


/*  ---- LINKS ---- */

$link: rgba(0, 0, 0, 0.8);
$link-hover: rgba(0, 0, 0, 0.9);
