@import "normalise";
@import "colors";
@import "typography";

body {
    background-color: $background;
}

header {
    height: 250px;
    background: url('../images/header.png') center no-repeat;
    background-size: cover;
}

main {
    width: 960px;
    padding: 0 30px;
    margin: 30px auto;
}

.card {
    background-color: $background-card;
    width: 420px;
    height: auto;
    padding: 12px;
    border-radius: 3px;
    border: 1.5px solid rgba($border-card, 0.09);
}

.avatar {
    height: 100px;
    width: 100px;
    background: url('../images/comic-100.png') no-repeat;
    display: inline-block;
}

.name {
    display: inline-block;
}
@import "media-queries";
